body {
    font-family: Arial, sans-serif;
    background-color: #e3f2fd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.weather-container {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
}
button {
    padding: 8px 15px;
    background-color: #3d0162;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color:brown;
}
#weatherResult {
    margin-top: 15px;
    font-size: 16px;
    color:midnightblue;
}
#errorMsg {
    margin-top: 10px;
    color: greenyellow;
    
}






