* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: white;
}

.logo h2 {
    font-size: 18px;
    letter-spacing: 2px;
}

.logo p {
    font-size: 12px;
    color: gray;
}

.nav a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    justify-content: end;
    padding: 10px;
    flex: 3;
}

.nav a:hover {
    color: #2bb0e6;
}
.hero {
    height: 85vh;
    background-image: url("https://www.wwf.org.uk/sites/default/files/styles/gallery_image/public/2018-01/emperor_penguin_chicks_0.jpg?h=0e32c73e&itok=5pwxabcK");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-content .small-text {
    letter-spacing: 3px;
    font-size: 12px;
    margin-bottom: 10px;
}

.hero-content h1 {
    font-size: 90px;
    letter-spacing: 15px;
    margin-bottom: 20px;
}

.hero-content button {
    padding: 12px 30px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.hero-content button:hover {
    background: #333;
}
